<title>AML Central | Confirm transactions</title>
<%- include('./partials/scripts') -%>

<body>

    <!-- Site Container -->
    <div id="site-container">

        <!-- Dashboard Area -->
        <div class="dashboard-area">

            <!-- Dashboard Header -->
            <%- include('./partials/header') -%>
            <!-- Dashboard Header -->

            <!-- Dashboard Main -->
            <main class="dashboard-main">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="dashboard-card full-view-card">
                                <% if(output.userType=='bank'){ %>
                                <h1 class="dashboard-card-heading text-center">Please Confirm Details for Uploaded Transactions </h1>
                                <% } %>

                                
                                <!-- Theme Table -->
                                <div class="theme-table-wrapper">
                                <table class="theme-table responsive-table marT50 marT20-xs">
                                <thead>
                                <tr>
                                <th class="has-head-label from-label">Transaction ID</th>
                                <!-- <th>Sending Bank ID</th> -->
								<th>Sending Bank Name</th>
								<!-- <th>Sending Bank Account No.</th> -->
								<th>Receiving Bank Name</th>
								<th>Receiving Bank Account No.</th>
								<th>Transaction Amount</th>
                                <th>Transaction Type</th>
                                <th class="has-head-label to-label">Transaction Date</th>
                                <th>Transaction Status</th>
								<th>Notes</th>
                                </tr>
                                </thead>
                                <tbody>
<% 
if(output.transactionsList.length>0){
for(var i=0;i<output.transactionsList.length;i++){%>
<tr>
<td><%=output.transactionsList[i].transaction_id %></td>
<!-- <td><%=output.transactionsList[i].sending_bank_id %></td> -->
<td class="has-cell-label from-label"><%=output.transactionsList[i].sending_bank_name %></td>
<!-- <td><%=output.transactionsList[i].sending_bank_acc_no %></td> -->
<td class="has-cell-label from-label"><%=output.transactionsList[i].receiving_bank_name %></td>
<td><%=output.transactionsList[i].receiving_bank_acc_no %></td>
<td><%=output.transactionsList[i].amount %></td>
<td class="has-cell-label to-label"><%=output.transactionsList[i].transaction_type %></td>
<td><%=output.transactionsList[i].transaction_date %></td>
<td <% if(output.transactionsList[i].status=='RED'){ %> class='alert-red' <% } %>><%=output.transactionsList[i].status%></td>
<td><%=output.transactionsList[i].notes %></td>
</tr>

<% }}else{ %>
<tr><td colspan="8">No Record found</td></tr>    
<% }%>
                                </tbody>
                                </table>
                               
                                <div class="text-center marT30">
                                <!-- bulk-transfer-step3.html -->
                                <a href="/transaction_success" class="primary-btn">Ok</a>
                                </div>
                               
                                </div>
                                <!-- Theme Table -->

                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Dashboard Main -->

        </div>
        <!-- Dashboard Area -->

    </div>
    <!-- Site Container -->

    <!-- Scripts -->

    <!-- Scripts -->
    <%- include('./partials/footer') -%>
</body>

</html>

<style>
.alert-red{background-color: red;}
</style>