
<title>AML Central | Dashboard</title>
<%- include('./partials/scripts') -%>

    <body>

        <!-- Site Container -->
        <div id="site-container">

            <!-- Dashboard Area -->
            <div class="dashboard-area">

                <!-- Dashboard Header -->
                <%- include('./partials/header') -%>
                    <!-- Dashboard Header -->

                    <!-- Dashboard Main -->
                    <main class="dashboard-main">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1 class="dashboard-main-heading">Dashboard </h1>
                                    </div>
                                    <div class="col-md-6 text-right text-left-xs">
                                    <p class="dashboard-main-tagline">You are in the main panel</p>
                                    </div>
                                                                            
                                    <div class="col-md-12">
                                        <div class="dashboard-card summary-card">
                                            <div class="dashboard-card-header">
                                                <h2 class="dashboard-card-heading">Blockchain Statistics</h2>
                                                <div class="dashboard-card-filter">
<h6 class="filter-heading">Period</h6>
<select class="form-control theme-selectbox">
<option value="Last Week">Last Week</option>
<option value="Last Month">Last Month</option>
<option value="Last Year">Last Year</option>
</select>
                                                </div>
                                            </div>
                                            <div class="dashboard-card-content">
                                                    
                                                    <!-- Dashboard Card Tabs -->
                                                    <ul class="dashboard-card-tabs has-popup-trigger">
                                                     <li class="tab-item primary-btn">
                                                     <span class="tab-item-icon"><img width="40" src="images/play-icon.svg" alt="Node Status Icon" /></span>
                                                     <h5 class="tab-item-heading">Node Status</h5>
                                                     <strong class="tab-item-val">Running</strong>
                                                     </li>
                                                     <li class="tab-item primary-btn">
                                                     <span class="tab-item-icon"><img width="50" src="images/users-icon.svg" alt="Users Icon" /></span>
                                                     <h5 class="tab-item-heading">Peers</h5>
                                                     <strong class="tab-item-val">3</strong>
                                                     </li>
                                                     <li class="tab-item primary-btn popup-trigger" data-popup="blocksPopup">
                                                     <span class="tab-item-icon"><img width="40" src="images/blocks-icon.svg" alt="Blocks Icon" /></span>
                                                     <h5 class="tab-item-heading">Blocks</h5>
                                                     <strong class="tab-item-val"><%=output.transactionsList.length%></strong>
                                                     </li>
                                                     <li class="tab-item primary-btn popup-trigger" data-popup="queuedTxnsPopup">
                                                     <span class="tab-item-icon"><img width="40" src="images/queued-transactions-icon.svg" alt="Queued Txns Icon" /></span>
                                                     <h5 class="tab-item-heading">Queued Txns</h5>
                                                     <strong class="tab-item-val"><%=output.transactionsList.length%></strong>
                                                     </li>
                                                    </ul>
                                                    <!-- Dashboard Card Tabs -->
                                                    
                                                     <!-- <img src="images/chart-img.jpg" alt="Chart" /> -->


                                                     <canvas id="myChart" style="width: 100%; height: 400px"></canvas>
                                                   
                                                    </div>
                                        </div>
            
                                        <!-- <div class="dashboard-card summary-card">
                                            <div class="dashboard-card-header">
                                                <h2 class="dashboard-card-heading">Transactions Summary</h2>
                                                <div class="dashboard-card-filter">
                                                    <h6 class="filter-heading">Period</h6>
                                                    <select class="form-control theme-selectbox">
                        <option value="Last Week">Last Week</option>
                        <option value="Last Month">Last Month</option>
                        <option value="Last Year">Last Year</option>
                        </select>
                                                </div>
                                            </div>
                                            <div class="dashboard-card-content">
                                                <img src="images/dashboard-summary-chart.png" alt="Chart" />
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-card reports-card">
                                            <div class="dashboard-card-header">
                                                <h2 class="dashboard-card-heading">
                                                    <% if(output.userType!='bank'){ %>
                                                    Transaction Reports.
                                                    <% }else{ %>
                                                        Your Transactions
                                                    <% } %>
                                                </h2>
                                                
                                                <ul class="card-filter-list list-inline ">
                                                    <li>
                                                        <div class="dashboard-card-filter">

<h6 class="filter-heading">Period</h6>
<select class="form-control theme-selectbox">
<option value="Last Week">Last 2 Days</option>
<option value="Last Month">Last 7 Days</option>
<option value="Last Year">Last Month</option>
</select>

                                                        </div>
                                                    </li>
                                                <% if(output.userType!='bank'){ %>                                                <li>
<div class="dashboard-card-filter sort-by-filter">

<h6 class="filter-heading">Sort By.</h6>
<select class="form-control theme-selectbox">
<option value="Bank1">Bank1</option>
<option value="Bank2">Bank2</option>
<option value="Bank3">Bank3</option>
</select>

                                                        </div>
                                                        <% }%>
                                                    </li>
                                                </ul>
                                              
            
                                            </div>
                                            <div class="dashboard-card-content">
                                                <ul class="dashboard-card-list site-accordion card-list-accordion list-items-limiter">
                                                    <% for(var i=0; i < output.transactions.length; i++) { %>
                                                <li class="accordion-block">
                                                    <div class="accordion-block-heading"> 
                                                            <span class="card-list-icon" style="background: #22b5d0">F</span>
                                                            
                                                    <span class="card-list-date"><%= output.transactions[i].created_at%></span>
                                                    <div class="card-list-content">
                                                        <h6 class="card-list-heading"><%= output.transactions[i].amount%></h6>
                                                        <p class="card-list-text hash-wrap">Transfer Order No. <%= output.transactions[i].blockchain_tx_id_hash%></p>
                                                    </div>
                                                </div>
                                                <div class="accordion-block-content">
                                                        <ul class="site-popup-list">
                                                                <li class="row">
                                                                <strong class="col-sm-5">Hash:</strong>
                                                                <span class="col-sm-7 hash-wrap"><%=output.transactionsList[i].blockchain_tx_id_hash%></span>
                                                                </li>
                                                                <li class="row">
                                                                <strong class="col-sm-5">Block Hash:</strong>
                                                                <span class="col-sm-7 hash-wrap"><%=output.transactionsList[i].blockchain_tx_id_hash%></span>
                                                                </li>
                                                                <li class="row">
                                                                <strong class="col-sm-5">Block No:</strong>
                                                                <span class="col-sm-7">3454</span>
                                                                </li>
                                                                <li class="row">
                                                                <strong class="col-sm-5">From:</strong>
                                                                <span class="col-sm-7 hash-wrap"><%=output.transactionsList[i].sending_bank_acc_no%></span>
                                                                </li>
                                                                <li class="row">
                                                                <strong class="col-sm-5">To:</strong>
                                                                <span class="col-sm-7 hash-wrap"><%=output.transactionsList[i].receiving_bank_acc_no%></span>
                                                                </li>
                                                                <li class="row">
                                                                <strong class="col-sm-5">Gas Price:</strong>
                                                                <span class="col-sm-7">$0</span>
                                                                </li>
                                                                <li class="row">
                                                                <strong class="col-sm-5">Gas:</strong>
                                                                <span class="col-sm-7">500000</span>
                                                                </li>
                                                                <li class="row">
                                                                <strong class="col-sm-5">Gas Used:</strong>
                                                                <span class="col-sm-7">0</span>
                                                                </li>
                                                                <li class="row">
                                                                <strong class="col-sm-5">input:</strong>
                                                                <span class="col-sm-7">000xw312322</span>
                                                                </li>
                                                                </ul>
                                                </div>
                                                </li>
                                                <% } %>
         
                                            </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="dashboard-card summary-card">
                                                <div class="dashboard-card-header">
                                                    <h2 class="dashboard-card-heading">
                                                        <% if(output.userType!='bank'){ %>
                                                        Transaction Alerts
                                                        <% }else{ %>
                                                        Your Incoming Alerts
                                                        <% } %>
                                                    </h2>
                                                    <div class="dashboard-card-filter text-right text-left-xs">
                                                    <ul class="list-inline">
                                                    <li class="pointer" title="Export to Excel"><img width="25" src="images/excel-icon.svg" alt="Excel Icon" /></li>
                                                    <li class="pointer" title="Export to PDF"><img width="25" src="images/pdf-icon.svg" alt="PDF Icon" /></li>                                                    
                                                    </ul>    

                                                    </div> 
                                                </div>
                                                <div class="dashboard-card-content">
                                                    <ul class="dashboard-card-list theme2 list-items-limiter has-popup-trigger">
                                                        
<%
if(output.redTransactionsList.length>0){
for(var i=0;i<output.redTransactionsList.length;i++){%>                                                       
<li data-popup="viewMorePopup" id="<%=output.redTransactionsList[i].blockchain_tx_id%>" class="popup-trigger showPopUpDetail">
<span class="card-list-icon info-alert-icon has-bg"></span>

<div class="card-list-content">

<p class="card-list-text info-alert-class info_alert popup-trigger"  style="color:red;">
<strong>Info Alert: </strong> 
  Suspicious Transactions Detected on Regular Account.</p>
<span class="card-list-date">just now</span>
</div>

</li>

<% }}else{ %>  
<% }%>    
<%
if(output.greenTransactionsList.length>0){
for(var i=0;i<output.greenTransactionsList.length;i++){%>     
<li data-popup="viewMorePopup" id="<%=output.greenTransactionsList[i].blockchain_tx_id%>" class="showPopUpDetail popup-trigger">
<span class="card-list-icon success-icon has-bg"></span>
<div class="card-list-content">
<p class="card-list-text info-alert-class success_alert popup-trigger" data-popup="info_success_popup" style="color:green;">
<strong>Success: </strong>Successfull transaction  detected.</p>
<span class="card-list-date">2 Days ago</span>
</div>
</li>
<% }}else{ %>  
<% }%>
                    
                                                        <!-- <li>
                                                            <span class="card-list-icon error-icon has-bg"></span>
                                                            <div class="card-list-content">
                                                                <p class="card-list-text"><strong>Error Alert: </strong> You have entered wrong password 2 times.</p>
                                                                <span class="card-list-date">Last Week</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="card-list-icon info-alert-icon has-bg"></span>
                                                            <div class="card-list-content">
                                                                <p class="card-list-text"><strong>Info Alert: </strong> You've got Alert for Incoming Transaction.</p>
                                                                <span class="card-list-date">just now</span>
                                                            </div>
                                                        </li> -->
                
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </main>
                    <!-- Dashboard Main -->

                    <div class="fs-overlay"></div>

                    <!-- Popups -->

                    <!-- Blocks Popup -->
                    <div class="blocksPopup site-popup fs-overlay-popup ">
                            <a class="site-popup-close">Close</a>
                            <div class="site-popup-content">
                            <!-- Theme Table -->
                                                <div class="theme-table-wrapper custom-scroller scrollbar-inner">
                                                <table class="theme-table responsive-table">
                                                <thead>
                                                <tr>
                                                <th>Timestamp</th>
                                                <th>Block Hash</th>
                                                <th>Transaction Count</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                
                                                <% 
                if(output.transactionsList.length>0){
                for(var i=0;i<output.transactionsList.length;i++){%>
                                                               
                                                <tr>
                <td><%=output.transactionsList[i].created_at%></td>
                <td><a class="hash-wrap"><%=output.transactionsList[i].blockchain_tx_id_hash%></a></td>
                <td>1</td>
                </tr>
                <% }}else{ %>
                <tr><td colspan="3">No Record found</td></tr>    
                <% }%>
                
                                                </tbody>
                                                </table>
                                                </div>
                                                <!-- Theme Table -->
                            </div>
                            </div>
                    <!-- Blocks Popup -->

                    <!-- Queued Txns Popup -->
                    <div class="queuedTxnsPopup site-popup fs-overlay-popup">
                            <a class="site-popup-close">Close</a>
                            <div class="site-popup-content custom-scroller scrollbar-inner">
                            <h5 class="form-popup-heading">Hash Transactions</h5>
                            
                            <!-- Accordion -->
                            <div class="site-accordion">
                            
                                    <% 
                            if(output.transactionsList.length>0){
                            for(var i=0;i<output.transactionsList.length;i++){%>
                            <!--Accordion Block -->
                            <div class="accordion-block">
                            <div class="accordion-block-heading hash-wrap"><%=output.transactionsList[i].blockchain_tx_id_hash%></div>
                            <div class="accordion-block-content">
                            <ul class="site-popup-list">
                            <li class="row">
                            <strong class="col-sm-6">Hash:</strong>
                            <span class="col-sm-6 hash-wrap"><%=output.transactionsList[i].blockchain_tx_id_hash%></span>
                            </li>
                            <li class="row">
                            <strong class="col-sm-6">Block Hash:</strong>
                            <span class="col-sm-6 hash-wrap"><%=output.transactionsList[i].blockchain_tx_id_hash%></span>
                            </li>
                            <li class="row">
                            <strong class="col-sm-6">Block No:</strong>
                            <span class="col-sm-6">3454</span>
                            </li>
                            <li class="row">
                            <strong class="col-sm-6">From:</strong>
                            <span class="col-sm-6 hash-wrap"><%=output.transactionsList[i].sending_bank_acc_no%></span>
                            </li>
                            <li class="row">
                            <strong class="col-sm-6">To:</strong>
                            <span class="col-sm-6 hash-wrap"><%=output.transactionsList[i].receiving_bank_acc_no%></span>
                            </li>
                            <li class="row">
                            <strong class="col-sm-6">Gas Price:</strong>
                            <span class="col-sm-6">$0</span>
                            </li>
                            <li class="row">
                            <strong class="col-sm-6">Gas:</strong>
                            <span class="col-sm-6">500000</span>
                            </li>
                            <li class="row">
                            <strong class="col-sm-6">Gas Used:</strong>
                            <span class="col-sm-6">0</span>
                            </li>
                            <li class="row">
                            <strong class="col-sm-6">input:</strong>
                            <span class="col-sm-6">000xw312322</span>
                            </li>
                            </ul>
                            </div>
                            </div>
                            <!--Accordion Block -->
                            <% }}else{ %>
                                <tr><td colspan="2">No Record found</td></tr>    
                                <% }%>
                            
                            </div>
                            <!-- Accordion -->
                            
                            </div>
                            </div>
                    <!-- Queued Txns Popup -->


                    <!-- info Alert popup -->
                    <div class="site-popup fs-overlay-popup  info_success_popup" style="display: none;" id="success-alert-popup">
                        <a class="site-popup-close">Close</a>
                        <div class="scroll-wrapper site-popup-content custom-scroller scrollbar-inner" style="position: relative;"><div class="site-popup-content custom-scroller scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 400px;">
                            <table class="theme-table responsive-table">
                                <thead>
                                <tr>
                                <th class="has-head-label from-label">Transaction ID</th>
                                <th>Transaction Amount</th>
                                <th>Transaction Date</th>
                               
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                if(output.greenTransactionsList.length>0){
                                for(var i=0;i<output.greenTransactionsList.length;i++){%>

                                
                                <tr>
                                <td><%=output.greenTransactionsList[i].transaction_id%></td>
                                <td><%=output.greenTransactionsList[i].amount%></td>
                                <td><%=output.greenTransactionsList[i].created_at%></td>
                                </tr>
                                <% }}else{ %>
                                <tr><td colspan="2">No Transaction found</td></tr>    
                                <% }%>

                                </tbody>
                                </table>

                        </div>
                        <div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 88px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 283px; top: 0px;"></div></div></div></div>
                        </div>

                        <div class="site-popup fs-overlay-popup info_red_popup" style="display: none;" id="info-alert-popup">
                                <a class="site-popup-close">Close</a>
                                
                                <div class="scroll-wrapper site-popup-content custom-scroller scrollbar-inner" style="position: relative;"><div class="site-popup-content custom-scroller scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 400px;">
                                    
                                    <table class="theme-table responsive-table">
                                        <thead>
                                        <tr>
                                        <th class="has-head-label from-label">Transaction ID</th>
                                        <th>Transaction Amount</th>
                                        <th>Transaction Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        
                                        <%
                                        if(output.redTransactionsList.length>0){
                                        for(var i=0;i<output.redTransactionsList.length;i++){%>

                                        <tr>
                                        <td><%=output.redTransactionsList[i].transaction_id%></td>
                                        <td><%=output.redTransactionsList[i].amount%></td>
                                        <td><%=output.redTransactionsList[i].created_at%></td>
                                        </tr>
                                        <% }}else{ %>
                                        <tr><td colspan="2">No Transaction found</td></tr>    
                                        <% }%>
        
                                        </tbody>
                                        </table>
        
                                </div>
                                <div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 88px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 283px; top: 0px;"></div></div></div></div>
                                </div>


                                <div class="viewMorePopup site-popup fs-overlay-popup">
                                        <a class="site-popup-close">Close</a>
                                        <div class="site-popup-content custom-scroller scrollbar-inner">
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Transaction ID</h4>
                                        <p class="text-group-content" id="Transaction_ID"></p>
                                        </div>
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Sending Bank ID</h4>
                                        <p class="text-group-content" id="sending_bank_id"></p>
                                        </div>
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Sending Bank Name</h4>
                                        <p class="text-group-content capitalize" id="sending_bank_name"></p>
                                        </div>
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Sending Bank Account No.</h4>
                                        <p class="text-group-content " id="sending_bank_account"></p>
                                        </div>
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Receiving Bank Name</h4>
                                        <p class="text-group-content capitalize"id="receiving_bank_name"></p>
                                        </div>
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Receiving Bank Account No.</h4>
                                        <p class="text-group-content" id="receiving_bank_acc"></p>
                                        </div>
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Transaction Amount</h4>
                                        <p class="text-group-content" id="transaction_amount"></p>
                                        </div>
                                        <div class="popup-text-group">
                                            <h4 class="text-group-heading">Currency</h4>
                                            <p class="text-group-content" id="currency"></p>
                                        </div>
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Transaction Type</h4>
                                        <p class="text-group-content" id="transaction_type"></p>
                                        </div>
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Transaction Date</h4>
                                        <p class="text-group-content" id="transaction_date"></p>
                                        </div>
                                        <div class="popup-text-group">
                                        <h4 class="text-group-heading">Transaction Status</h4>
                                        <p class="text-group-content " id="transaction_status"></p>
                                        </div>
                                        </div>
                                        </div>
                                       
                                        <!-- Blocks Popup -->
                    
                    
                                
                    
                    

                        


                    <!-- Popups -->

            </div>
            <!-- Dashboard Area -->

        </div>
        <!-- Site Container -->

        <!-- Footer -->
        <%- include('./partials/footer') -%>
     
        <!-- Footer -->

        <!-- Scripts -->

        <!-- Scripts -->

    </body>

    </html>
    <style>
    .alert-red{background-color: red;}
    .set-scroll{width: 580px;
    height: 500px;
    overflow-y: scroll;}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    
    
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels:[<%=output.graphValue.labels%>],
                datasets: [{
                    label: 'X- axis reference to Transaction date and Y-axis reference to Transaction count on the particular date',
                    data: [<%=output.graphValue.dataSet%>],
                    
                    backgroundColor: [
                        'rgba(8, 125, 142, 0.2)',
                    ],
                    borderColor: [
                        'rgba(8, 125, 142,1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                title: {
            display: true,
            text: ''
        },
        legend: {
                    display: !0,
                    position: "bottom"
        }
            }
        });


$('.showPopUpDetail').click(function(){
console.log($(this).attr('id'));
$.ajax({
type:"GET",
cache:false,
url:"/transactionsDetails",
data:{request:$(this).attr('id')}, 
success:function(result){
console.log(result);
result=result[0];                                
$('#Transaction_ID').html(result.transaction_id);
$('#transaction_status').html(result.status);
$('#transaction_date').html(result.created_at);
$('#transaction_type').html(result.transaction_type);
$('#transaction_amount').html(result.amount);
$('#receiving_bank_acc').html(result.receiving_bank_acc_no);
$('#receiving_bank_name').html(result.receiving_bank_name);
$('#sending_bank_account').html(result.sending_bank_acc_no);
$('#sending_bank_name').html(result.sending_bank_name);
$('#sending_bank_id').html(result.sending_bank_id);
$('#currency').html(result.currency);
},
error:function(err){
console.log(err);
}
})


    });

        </script>
        <style>
        .info-alert-class{ cursor: pointer;}
        </style>